.debug{
 background-color: rgba(255, 0, 0, .25);
  border: 1px solid black; 
}

[class^=col]{
  /* background-color: rgba(165, 101, 42, 0.466);
  border: 1px solid black; */
}

[class^=container]{
  /* background-color: rgba(146, 76, 10, 0.397); */
  /* border: 1px solid red; */
}

ul{
  margin: 0;
  padding: 0;
}

h2{
  font-size: 1.8rem;
}

.r-3{
  border-radius: 3px;
}

.r-20{
  border-radius: 20px;
}

.bg-lightgray{
  background-color: #F7F7F7;
}

.bg-darkblue{
  background-color: #155CBA;
}


.c-container{
  width: 10%;
}

/* HEADER */

header{
  height: 70px;
}

header .h-container{
  flex-basis: 100%;
}
 


.navbar-brand img:last-child{
  width: 40px;
}

/* MAIN */

main{
  height: calc(100vh - 70px);
}

.sidenav{
  background-color: #10283D;
  background-image: url(../img/sidebar-bg.png);
}

.sidenav-top{
  height: 90%;
}

.sidenav-top ul{
  list-style: none;
}

.sidenav-top a{
  color: white;
  text-decoration: none;
}

.sidenav-bottom{
  height: 10%
}

/* content-top */

.content-top .tag ul{
  list-style: none;
}


.content-top .affranti{
  font-size: .8rem;
}

.chart img{
  width: 100%;
}


/* content-bottom */

.table{
  font-size: .9rem;
}

td img{
  width: 30px;
}

th{
  text-align: center;
}

thead th:first-child{
  text-align: start;
}

td{
  text-align: center;
}

tbody td:first-child{
  text-align: start;
}

th.empty{
  display: none;
}

td.empty{
  display: none;
}

.border-container{
  border: 1px solid lightgray;
  padding: 1rem;
}

.active-users a{
  font-size: .9rem;
}

.active-users ul{
  list-style: none;
}

.active-users ul li{
  font-size: .8rem;
  padding: .5rem 0;
  border-bottom: 1px solid lightgray;
}

.active-users ul li:first-child{
  border-top: 1px solid lightgray;
}


/* responsive */

@media screen and (min-width: 992px) {

  th.empty{
    display:table-cell;
  }

  td.empty{
    display:table-cell;
  }
  
}