.debug{
 background-color: rgba(255, 0, 0, .25);
  border: 1px solid black; 
}

[class^=col]{
  background-color: rgba(165, 101, 42, 0.466);
  border: 1px solid black;
}

[class^=container]{
  background-color: rgba(172, 255, 47, 0.397);
  border: 1px solid red;
}

.c-container{
  width: 10%;
}

header{
  height: 70px;
}

main{
  height: calc(100vh - 70px);
}

.sidenav-top{
  height: 90%;
}

.sidenav-top a{
  color: white;
  text-decoration: none;
}

.sidenav-bottom{
  height: 10%
}

.content-top{
  background-color: ;
}